<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
     <div class="container mt-5">
        <h2>Cadastro de Produtos</h2>
        <form action="/cadastrar" method="post">
            <form action="/cadastrar" method="post">
        <div class="form-group">
            <label for="nomeProduto">Nome do Produto:</label>
            <input type="text" class="form-control" id="nomeProduto" name="nomeProduto" required>
        </div>
        <div class="form-group">
            <label for="nomeFornecedor">Nome do Fornecedor:</label>
            <input type="text" class="form-control" id="nomeFornecedor" name="nomeFornecedor" required>
        </div>
        <div class="form-group">
            <label for="dataCompra">Data da Compra:</label>
            <input type="date" class="form-control" id="dataCompra" name="dataCompra" required>
        </div>
        <div class="form-group">
            <label for="valorCompra">Valor de Compra:</label>
            <input type="number" class="form-control" id="valorCompra" name="valorCompra" required>
        </div>
        <div class="form-group">
            <label for="valorVenda">Valor de Venda:</label>
            <input type="number" class="form-control" id="valorVenda" name="valorVenda" required>
        </div>
        <div class="form-group">
            <label for="categoria">Categoria:</label>
            <input type="text" class="form-control" id="categoria" name="categoria" required>
        </div>
        
            <button type="submit" class="btn btn-primary mt-3">Cadastrar
                <a href="E:\bootstrap_form\views\meusprodutos.handlebars"></a>
            </button>
        </form>
    </div>    
</body>
</html>